In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *


spark = SparkSession.builder.getOrCreate()

In [11]:
df1 = spark.read.format('csv').option("header", True).load("to_merge/Book1.csv")
df2 = spark.read.format('csv').option("header", True).load("to_merge/Book2.csv")

In [12]:
df1.show()
df2.show()

+---------+------------------+
|AccountID|              Name|
+---------+------------------+
|      ABC|   Atlanta Account|
|    RE233|Reno Store Account|
+---------+------------------+

+---------+--------+---------+-----+
|AccountID|Quantity|     Date|Price|
+---------+--------+---------+-----+
|      ABC|       1|10/5/2022|   13|
|    RE233|       6|10/1/2022|    2|
|    98DSS|      12|10/4/2022|   33|
+---------+--------+---------+-----+

In [13]:
df1.createOrReplaceTempView("table1")
df2.createOrReplaceTempView("table2")

In [15]:
df_joined = spark.sql("""
                     SELECT t1.AccountID as AccountID_1, t2.AccountID as AccountID_2, t1.Name, t2.Quantity, t2.Date, t2.Price
                     FROM table1 t1 
                     LEFT OUTER JOIN table2 t2 
                     ON t1.AccountID = t2.AccountId
                      """)

# df_joined.write.format("parquet").option("header", True).save("to_merge/book_1.parquet")

df_joined.show()

+-----------+-----------+------------------+--------+---------+-----+
|AccountID_1|AccountID_2|              Name|Quantity|     Date|Price|
+-----------+-----------+------------------+--------+---------+-----+
|        ABC|        ABC|   Atlanta Account|       1|10/5/2022|   13|
|      RE233|      RE233|Reno Store Account|       6|10/1/2022|    2|
+-----------+-----------+------------------+--------+---------+-----+